.educationMain {
  position: fixed;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: teal; */
  /* background: cornflowerblue; */
  background-color: seagreen;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.canvasContainer {
  position: absolute;
  top: -50px;
  width: 400px;
  height: 400px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.courseCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
}

.cardContent h2 {
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.cardContent h2 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.cardContent p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #fff;
  font-weight: 300;
}

.cardContent a {
  width: fit-content;
  padding: 8px 20px;
  margin: 15px auto;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.degree {
  margin: auto;
  width: 70%;
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  color: white;
  font-family: JuliusSansOne-Regular;
  font-weight: bolder;
}

.academics {
  top: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
