.main {
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightgreen;
  /* height: 100vh; */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: y mandatory;
}

.img {
  /* mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik0zOC42LC01MC44QzQ5LjUsLTQ1LjMsNTcuMiwtMzMuMiw2NC42LC0xOUM3MiwtNC43LDc5LjEsMTEuNiw3Ni41LDI2LjRDNzMuOCw0MS4yLDYxLjUsNTQuNCw0Ny4xLDU4LjhDMzIuNyw2My4yLDE2LjQsNTguOCwwLjksNTcuNkMtMTQuNiw1Ni40LC0yOS4yLDU4LjMsLTQ0LjMsNTQuMkMtNTkuMyw1MCwtNzQuOCwzOS43LC03OS42LDI1LjdDLTg0LjQsMTEuNywtNzguNiwtNiwtNzMuMSwtMjRDLTY3LjYsLTQyLjEsLTYyLjYsLTYwLjYsLTUwLjQsLTY1LjdDLTM4LjMsLTcwLjcsLTE5LjIsLTYyLjQsLTIuNiwtNTguOEMxMy45LC01NS4xLDI3LjgsLTU2LjMsMzguNiwtNTAuOFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik0zOC42LC01MC44QzQ5LjUsLTQ1LjMsNTcuMiwtMzMuMiw2NC42LC0xOUM3MiwtNC43LDc5LjEsMTEuNiw3Ni41LDI2LjRDNzMuOCw0MS4yLDYxLjUsNTQuNCw0Ny4xLDU4LjhDMzIuNyw2My4yLDE2LjQsNTguOCwwLjksNTcuNkMtMTQuNiw1Ni40LC0yOS4yLDU4LjMsLTQ0LjMsNTQuMkMtNTkuMyw1MCwtNzQuOCwzOS43LC03OS42LDI1LjdDLTg0LjQsMTEuNywtNzguNiwtNiwtNzMuMSwtMjRDLTY3LjYsLTQyLjEsLTYyLjYsLTYwLjYsLTUwLjQsLTY1LjdDLTM4LjMsLTcwLjcsLTE5LjIsLTYyLjQsLTIuNiwtNTguOEMxMy45LC01NS4xLDI3LjgsLTU2LjMsMzguNiwtNTAuOFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-position: center;
  -webkit-mask-position: center; */
  border-radius: 40px;
  flex: 1;
  width: 300px;
}

.hero h1 {
  font-family: 'gotham-rounded', sans-serif;
  text-transform: uppercase;
  font-size: calc(7vw - 0.5rem);
  font-weight: 800;
  color: white;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.hero span {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.text {
  flex: 1;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: calc(100vw - 40px);
  padding: 40px;
  height: 100vh;
  gap: 20px;
  scroll-snap-align: start;
}

@media (max-width: 748px) {
  .hero {
    flex-direction: column-reverse;
    padding: 0;
  }

  .text {
    padding: 20px;
  }

  .img {
    border-radius: 0;
    width: 100vw;
  }
}

.nav {
  display: flex;
  position: fixed;
  flex-direction: row;
  top: 0;
  color: white;
  padding: 40px 0;
  justify-content: center;
  width: 100%;
  gap: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.navItem {
  cursor: pointer;
  transition: 0.5s;
}

.navItem:active {
  transform: scale(1.3);
}

.navItem:hover {
  color: #f69ec4;
}
.navItem:hover::after {
  width: 100%;
}

navItem::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #f69ec4;
  width: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.active {
  background: white;
  border-radius: 20px;
}

.hero:nth-child(2) {
  background-color: lightpink;
}

.characters {
  color: black;
  background: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.characters .imgs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  object-fit: cover;
  object-position: center;
}

.characters img {
  width: 150px;
  height: 150px;
  max-width: 150px;
  border-radius: 50%;
}
