.main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* background-color: #78c52f; */
  background-color: var(--sea);
}

.canvasContainer {
  transition: 0.5s;
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.projectCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  top: 80px;
}

.cardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.446);
}

.cardContent h2 {
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.cardContent h2 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.cardContent p {
  font-size: 1.2em;
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;

  background-color: var(--shade);
  border-radius: 1rem;
  padding: 1rem 0.5rem;
}

.projLink {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  z-index: 1;
  text-decoration: none;
  background-color: transparent;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.2s;
  background-color: var(--sea);
}

.projLink::before {
  position: absolute;
  content: '';
  background-color: white;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  transition: 0.2s;
}

.projLink * {
  z-index: inherit;
}

.projLink:hover::before {
  width: 100%;
  height: 100%;
}

.projLink:hover {
  background-color: white;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  z-index: 2;
}

.projectCards .projImg {
  aspect-ratio: 16/9;
  object-fit: cover;
  height: 10rem;
  border-radius: 1rem;
  width: 100%;
  margin-inline: auto;
}
