.menuItem {
  cursor: pointer;
  transition: 0.2s;
  margin: 10px;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.menuItem:hover {
  transform: scale(1.09);
}

.activeLink {
  font-style: italic;
  /* font-weight: bold; */
}
