.menuItem {
  cursor: pointer;
  transition: 0.2s;
  margin: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menuItem:hover {
  transform: scale(1.09);
}
