.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  z-index: 2;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

@media (max-width: 700px) {
  .menu {
    z-index: -1 !important;
    top: -1000px;
    position: relative;
  }
}

.menuItem {
  color: white;
  cursor: pointer;
  /* transition: 0.5s; */
  padding: 10px 30px;
  border-radius: 10px;
  flex-grow: 1;
}

.menuItem:active {
  background-color: white;
  color: #101420;
}
.menuItem.current {
  background-color: white;
  color: #101420;
}
