.menu {
  position: absolute;
  top: 50px;
  right: 30px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 100px;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0) translateX(80px);
}

.menu.active li {
  transform: rotate(calc(360deg / 8 * var(--i)));
}

.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  transform: rotate(calc(360deg / 8 * var(--i)));
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  color: #111;
  transition: 0.5s;
}

.toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  font-size: 2em;
  transition: transform 1.25s;
}

.toggle:hover {
  transform: scale(1.1);
}

.menu.active .toggle {
  transform: rotate(315deg);
}

@media (max-width: 500px) {
  .toggle {
    width: 50px;
    height: 50px;
  }

  .menu li a {
    width: 40px;
    height: 40px;
  }

  .menu {
    left: 10px;
    top: -15px !important;
    transform: scale(0.7);
  }
}

.menu .twitterIcon {
  transform: rotate(180deg);
}

.menu .instagramIcon {
  transform: rotate(90deg);
}

.menu .whatsappIcon {
  transform: rotate(270deg);
}

.menu .youtubeIcon {
  transform: rotate(90deg);
}

.menu .emailIcon {
  transform: rotate(180deg);
}

.menu .githubIcon {
  transform: rotate(-90deg);
}

.snackbar {
  position: absolute;
  bottom: 20px;
  margin: auto;
}
