.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f8a500;
  overflow-x: hidden;
  overflow-y: hidden;
}

.landing {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 740px) {
  .landing {
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .starter {
    position: absolute;
    margin: auto;
    width: 95% !important;
    z-index: 1;
    margin-left: 0 !important;
    align-self: center;
  }

  .canvasContainer {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 500px;
    left: 30px;
  }

  .canvasContainer2 {
    position: absolute;
    bottom: -120px !important;
    left: 60% !important;
  }

  .large {
    font-family: JuliusSansOne-Regular;
    font-size: 2px;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .small {
    background-color: rgba(0, 0, 0, 0.446);
    margin: auto;
    padding: 10px;
    width: 90%;
    align-self: center;
  }
}

@media (max-width: 500px) {
  .canvasContainer2 {
    left: 45% !important;
  }

  .large {
    font-size: xx-large !important;
  }

  .small {
    background-color: rgba(0, 0, 0, 0.255);
    width: 90%;
    height: fit-content;
    padding: 10px;
    margin: auto;
  }

  .social {
    margin: auto;
  }

  .starter {
    margin: auto !important;
    align-self: center !important;
  }
}

.starter {
  color: white;
  top: 100px;
  margin: auto;
  width: 40%;
  text-align: left;
  z-index: 2;
  flex-shrink: 0;
}

.large {
  /* font-family: JuliusSansOne-Regular; */
  font-family: gotham-rounded;
  font-variant-caps: all-petite-caps;
  /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.268);
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.small {
  font-family: gotham-rounded;
  /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit; */
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.1); */
  color: rgb(255, 255, 255);
}

/* Controls the dimentions of the canvas */
.canvasContainer {
  position: relative;
  right: 100px;
  width: 500px;
  height: 500px;
  flex-shrink: 1;
}

.canvasContainer2 {
  position: absolute;
  left: 450px;
  bottom: -50px;
  width: 250px;
  height: 500px;
  z-index: 1;
}

.wave {
  z-index: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: -10px;
}

.canvas {
  height: 100%;
  width: 100%;
  /* pointer-events: none; */
}

.welcomeMessage {
  font-size: 2em;
  font-weight: 700;
  white-space: nowrap;
  margin: auto;
}

.about {
  margin: 10px;
  text-align: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

/* .resumeButton {
  margin: 20px auto;
  align-self: center;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  transition: 0.5s;
} */

.resumeButton {
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  width: fit-content;
  font-style: normal;
  margin: 10px auto;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: white;
  border: 2px solid white;
  text-decoration: none;
  background-color: transparent;
  overflow: hidden;
  transition: 0.2s;
}

.resumeButton:hover {
  color: black;
}

.resumeButton::before {
  position: absolute;
  content: '';
  background-color: white;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 50%;
  transition: 0.2s;
}

.resumeButton span {
  z-index: 3;
}

.resumeButton:hover::before {
  width: 100%;
  height: 100%;
}

.resumeButton:hover {
  background-color: white;
}
