.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: #101420; */
  /* background: rgb(30, 68, 65); */
  /* background: #1c0531; */
  background: orange;
  overflow-x: hidden;
  overflow-y: hidden;
}

.landing {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 740px) {
  .landing {
    flex-direction: column-reverse;
    width: 100%;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }

  .starter {
    position: absolute;
    top: 300px;
    width: 80% !important;
    z-index: 1;
    margin: auto;
  }

  .canvasContainer {
    position: absolute;
    top: -40px;
    width: 100%;
    height: 500px;
    margin: auto;
  }

  .large {
    font-family: JuliusSansOne-Regular;
    font-size: 2px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
}

.starter {
  color: white;
  width: 40%;
}

.large {
  font-family: JuliusSansOne-Regular;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.small {
  font-family: gotham-rounded;
}

/* Controls the dimentions of the canvas */
.canvasContainer {
  width: 50%;
  height: 100%;
}

.wave {
  z-index: 100;
  width: 100%;
  position: absolute;
  bottom: -100px;
}

.canvas {
  height: 100%;
  width: 100%;
  /* pointer-events: none; */
}

.welcomeMessage {
  font-size: 2em;
  font-weight: 700;
  white-space: nowrap;
  margin: auto;
}

.about {
  margin: 10px;
  text-align: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
