.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #66bbc6;

  overflow: hidden;
}

/* Controls the dimentions of the canvas */
.canvasContainer {
  position: fixed;
  width: 100%;
  height: 100%;
}

.wave {
  z-index: 100;
  position: absolute;
  bottom: -10px;
}

.canvas {
  height: 100%;
  width: 100%;
  /* pointer-events: none; */
}

.welcomeMessage {
  font-size: 2em;
  font-weight: 700;
  white-space: nowrap;
  margin: auto;
}

.about {
  margin: 10px;
  text-align: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
